<div class="container">
	<div class="row">
		<div class="col s12">
			<a class="btn purple" [routerLink]="['/pokemon']">
				<i class="material-icons left">arrow_back</i>Regresar
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m5">
			<div class="card">
				<div class="card-image">
					<img [src]="images[currentImage]" *ngIf="pokemon.sprites">
					<div class="card-buttons">
						<button class="btn-floating left" (click)="changeImg(false);">
							<i class="material-icons"> arrow_left</i>
						</button>
						<button class="btn-floating right" (click)="changeImg(true);">
							<i class="material-icons"> arrow_right</i>
						</button>
					</div>
					<!-- <span class="card-title black-text"> {{ pokemon.name }}</span> -->
				</div>
				<div class="card-content">
					<h2>{{ pokemon.name }}</h2>
				</div>
				<!-- <div class="card-action">
					<a href="#">This is a link</a>
				  </div> -->
			</div>
		</div>
		<div class="col s12 m7">
			<div class="row" *ngIf="pokemon.characteristic">
				<div class="col s12">
					<h4 class="header purple-text">Descripción</h4>
					<p class="flow-text" *ngFor="let item of pokemon.characteristic.descriptions; let i=index" [hidden]="item.language.name != 'en'">
						{{ item.description }}
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s6 m4 l3" *ngFor="let item of pokemon?.moves; let i=index">
			<div class="move red white-text" (click)="selectedMove = item" [class.active]="selectedMove == item">
				{{item.move.name}}
			</div>
		</div>
	</div>

	<div class="row" *ngIf="loading">
		<div class="col s12 center-align">
			<div class="preloader-wrapper big active">
				<div class="spinner-layer spinner-blue-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>